<nav class="navbar navbar-expand navbar-dark bg-dark px-2">
	<div class="side-nav-button text-light" (click)="sideNavToggle()">
		<fa-icon [icon]="menuIcon"
			class="faIcon"></fa-icon>
	</div>

	<a class="navbar-brand px-4"
		href="#">
		Course Reg. Admin
	</a>

	<!-- <div class="navbar-collapse">
		<ul class="navbar-nav me-auto">
			<li class="nav-item dropdown">Home</li>
            <li class="nav-item dropdown">Student</li>
		</ul>
	</div> -->

	<div class="profile-logo dropdown">
		<button class="btn btn-outline-light dropdown-toggle"
			data-bs-toggle="dropdown">
			<fa-icon [icon]="personIcon"></fa-icon>
		</button>

		<ul class="dropdown-menu dropdown-menu-dark">
			<li>
				<a href="#"
					class="dropdown-item">
					Student
				</a>
			</li>
			<li>
				<a href="#"
					class="dropdown-item">
					Sign Out
				</a>
			</li>
		</ul>
	</div>
</nav>
