<div class="container">
	<div class="row flex-lg-nowrap">

		<div class="col">
			<div class="row flex-lg-nowrap">
				<div class="column-card col mb-3">

					<div class="e-panel card">

						<div class="card-top-row">
							<div class="card-title-name">Students</div>

							<div (click)="open(content)" class="add-button">
								<fa-icon [icon]="addIcon"></fa-icon> Add Student
							</div>

						</div>
						<div class="card-body">
							<div class="e-table">
								<div class="table-responsive table-lg mt-3">
									<table class="table table-bordered">
										<thead>
											<tr>

												<th>Photo</th>
												<th class="max-width">Name</th>
												<th class="max-width">Roll No</th>
												<th class="max-width">Phone</th>
												<th class="max-width">Date</th>
												<th class="max-width">Status</th>

												<th>Actions</th>
											</tr>
										</thead>
										<tbody *ngFor="let student of studentResponse?.data" class="scroll-list">
											<tr>

												<td class="align-middle text-center">
													<div
														class="profile-image bg-light d-inline-flex justify-content-center align-items-center align-top">
														<img (click)="viewProfileImage(profileImageContent, student)" src="{{getImage(student.image)}}">
													</div>
												</td>
												<td class="text-nowrap align-middle">{{student.name}}</td>
												<td class="text-nowrap align-middle">{{student.roll_no}}</td>
												<td class="text-nowrap align-middle">{{student.phone}}</td>
												<td class="text-nowrap align-middle">
													{{student.created_at | date: 'hh:mm a dd MMM, yyyy'}}
												</td>
												<!-- <td class="text-nowrap align-middle">{{student.status}}</td> -->

												<td class="text-center align-middle">

													<mat-slide-toggle color="primary"
														(change)="onStatusUpdate(student.id, student.status === 'active' ? true : false)"
														checked="{{student.status === 'active' ? true : false}}">
														<!-- {{student.status}} -->
													</mat-slide-toggle>
												</td>

												<td class="text-center align-middle">
													<div class="btn-group align-top">
														<button (click)="updateStudentDetails(student, editContent, student.name)"
															class="edit-button btn btn-sm btn-outline-secondary badge"
															type="button" data-toggle="modal"
															data-target="#user-form-modal">
															Edit
														</button>

													</div>
												</td>
											</tr>

										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<!--modal-->
<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">
			New Student
		</h4>
		<button (click)="modal.dismiss('Cross click')" type="button" class="close" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<form>

			<div class="image-view">
				<img [src]="defaultImage ||'/assets/noprofileimage.jpg'">
			</div>

			<div class="form-group">

				<div class="input-group">
					<input #file id="file" type="file" class="form-control" (change)="onChangeFile($event)">
				</div>
			</div>

			<div class="form-group">
				<label for="name">Name</label>
				<div class="input-group">
					<input #name id="name" class="form-control">
				</div>
			</div>

			<div class="form-group">
				<label for="phone">Phone</label>
				<div class="input-group">
					<input #phone id="phone" class="form-control">
				</div>
			</div>

			<div class="form-group">
				<label for="roll_no">Roll No</label>
				<div class="input-group">
					<input #roll_no id="roll_no" class="form-control">
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button (click)="addStudent(name.value, phone.value, roll_no.value)" type="button" class="btn btn-outline-dark">
			Save
		</button>
	</div>
</ng-template>


<ng-template #profileImageContent let-modal>
	<div class="modal-header">
		<h4 class="top-bar-title" id="modal-basic-title">
			Change Image
		</h4>
		<button (click)="modal.dismiss('Cross click')" type="button" class="image-close" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<form>

			<div class="image-view">
				<img [src]="defaultImage||'/assets/noprofileimage.jpg'">
			</div>

			<div class="form-group">

				<div class="input-group">
					<input #file id="file" type="file" class="form-control" (change)="onChangeFile($event)">
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button (click)="updateProfileImage(profileID, image)" type="button" class="btn btn-outline-dark">
			Save
		</button>
	</div>
</ng-template>

<ng-template #editContent let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">
			Edit Student
		</h4>
		<button (click)="modal.dismiss('Cross click')" type="button" class="close" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<form>

			<div class="form-group">
				<label for="name">Name</label>
				<div class="input-group">
					<input [value]="name" #editName id="name" class="form-control">
				</div>
			</div>

		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="saveUpdatedStudentDetails(profileID, editName.value)">
			Save
		</button>
	</div>
</ng-template>