.side-nav-content {
  color: white;
  
}

.nav-list {
  list-style: none;
  padding-left: 0%;
  border-radius: 5px;
}

.nav-list-item {
  display: flex;
  padding: 10px;
  align-items: center;
  font-size: 14px;
  width: 250px;
}

.nav-list-item span {
  text-transform: capitalize;
}

.nav-list-item fa-icon {
  width: 60px;

}

.nav-list li:hover {
  background-color: rgba(169, 169, 169, 0.216);
  cursor: pointer;
  border-radius: 10px;
  padding-right: 10px;

}

/* .nav-list-open .nav-list li:hover {
  background-color: rgba(169, 169, 169, 0.216);
  cursor: pointer;
  border-radius: 10px;
} */

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
