<div class="container-fluid g-0">
	<app-header (sideNavToggled)="sideNavStatus = $event"></app-header>

	<main>
		<app-side-nav [sideNavStatus]="sideNavStatus"
			[ngClass]="{'app-side-nav-open': sideNavStatus}"
			class></app-side-nav>

		<div [ngClass]="{'display-area-shrink': sideNavStatus}"
			class="display-area">


			<div *ngIf="sideNavService.sideNavItem == 'home'">
				<!-- <app-dashboard></app-dashboard> -->
				<app-student></app-student>
			</div>

			<div *ngIf="sideNavService.sideNavItem == 'student'">
				<app-student></app-student>
			</div>

			<div *ngIf="sideNavService.sideNavItem == 'course'">
				<app-course></app-course>
			</div>

			<div *ngIf="sideNavService.sideNavItem == 'semester'">
				<app-semester></app-semester>
			</div>
			
		</div>
	</main>
</div>
