/* You can add global styles to this file, and also import other style files */
app-header {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 2;
  }
  
  main {
    position: absolute;
    width: 100%;
    top: 4rem;
    z-index: 1;
    height: calc(91%);
  }
  
  app-side-nav {
    background-color: black;
    position: absolute;
    left: 0rem;
    top: 0rem;
    width: 3%;
    height: 100%;
    overflow-x: hidden;
    white-space: nowrap;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    transition: width 250ms ease-in;
  }
  
  .black-border {
    border: 1px solid black;
  }
  
  
  fa-icon{
      color: white;
  }

  .app-side-nav-open{
    width: 20%;
    height: 100%;
  }

  .display-area{
    width: 97%;
    position: absolute;
    left: 3%;
    transition:left 250ms ease-in, width 250ms ease-in;
    height: 100%;

  }

  .display-area-shrink{
    width: 80%;
    left: 20%;
    height: 100%;
  }


